$backgroundColor: #333333;
$backgroundImage: "/assets/img/spacetelescope.jpg";
$backgroundSize: 5em;
$bodyColor: #dddddd;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyMaxWidth: 920px;
$textAlign: center;
$linkColor: #11aaff;
$header1Color: #dd9922;
$header2Color: #22ff11; //TODO: change maybe
$header3Color: #90ee90;
$backgroundColor2: #880088;

body {
	/*background: $backgroundColor;*/
	background: url($backgroundImage) center center repeat;
	background-size: $backgroundSize;
	color: $bodyColor;
	font-family: $bodyFont;
	text-align: $textAlign;
	max-width: $bodyMaxWidth;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.8;
	padding-right: 0.8em;
}

h1 {
	color: $header1Color;
}

h2 {
	color: $header2Color;
}

h3 {
	color: $header3Color;
}

a {
	color: $linkColor;
}

p {
	background-color: $backgroundColor2;
}

ul {
	background-color: $backgroundColor2;
}

table {
	margin-left: auto;
	margin-right: auto;
}
